<div class="like-dislike-buttons">
  <button mat-button class="like" (click)="likeIncrement()">
    🩷 {{ like }}
  </button>
  <button mat-button class="disLike" (click)="disLikeIncrement()">
    👎 {{ disLike }}
  </button>
</div>
<!-- @if((like-disLike)>10){ You are awesome!! } -->
<!-- <progress
  id="range"
  max="100"
  value="{{ (like * 100) / (like + disLike) }}"
></progress>

<progress id="range" max="{{ like + disLike }}" value="{{ like }}"></progress> -->

<!-- <progress id="range" [max]="like + disLike" [value]="like"></progress> -->
