<!-- <div class="Whole-page"> -->
<!-- <div class="add-movie">
  <mat-form-field class="example-full-width">
    <mat-label>Movie URL</mat-label>
    <input
      matInput
      type="text"
      placeholder="Enter URL"
      [(ngModel)]="newMovie.imagelink"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      placeholder="Ex: Hi Nanna"
      [(ngModel)]="newMovie.title"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Rating</mat-label>
    <input
      matInput
      type="text"
      placeholder="Ex: 9.8"
      [(ngModel)]="newMovie.rating"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Summary</mat-label>
    <input
      matInput
      type="text"
      placeholder="Enter Summary"
      [(ngModel)]="newMovie.summary"
    />
  </mat-form-field>

  <button mat-raised-button (click)="addMovie()">➕Add Movie</button>
</div> -->
<!-- <label for="movielink"><b>Movie-URL</b></label>
  <input
    type="text"
    placeholder="Enter Movie-URL"
    id="movielink"
    [(ngModel)]="newMovie.imagelink"
  /> -->

<!-- <label for="title"><b>Title</b></label>
  <input
    type="text"
    placeholder="Enter Title of the movie"
    id="title"
    [(ngModel)]="newMovie.title"
  /> -->
<!-- <label for="rating"><b>Rating</b></label>
  <input
    type="text"
    placeholder="Enter rating of the Movie"
    id="rating"
    [(ngModel)]="newMovie.rating"
  /> -->

<!-- <label for="summary"><b>Summary</b></label>
  <input
   
    placeholder="Enter summary"
    id="summary"
   
  /> -->

<div class="Movie-card">
  @if (isLoading) {
  <h1>Loading....</h1>
  } @for(movie of movies; track movie.id){
  <app-movies
    [movie]="movie"
    (deleteItem)="deleteItem($event)"
    [id]="movie.id"
  />
  }
</div>
<!-- </div> -->
<!-- <app-movies (deleteItem)="deleteItem($event)" /> -->

<!-- <input
  type="text"
  [(ngModel)]="movie.imagelink"
  placeholder="Enter image URL"
/> -->
