.Movie-card{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 20px;
    justify-content: space-evenly;
    // margin: 16px auto;

}
.add-movie
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    width: 100%;
    margin: 16px auto;
   
}
// .whole-page{
//     padding-left: 510px;

// }