.Movie-card{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 20px;
    justify-content: space-evenly;
    // margin: 16px auto;

}

// .whole-page{
//     padding-left: 510px;

// }