<div class="movie-container">
  <img src="{{ movie.poster }}" alt="{{ movie.name }}-movie-poster" />
  <div class="title-rating">
    <h3 class="title">{{ movie.name }}</h3>
    <button mat-icon-button routerLink="/movies/{{ id }}" class="info">
      <mat-icon>info</mat-icon>
    </button>
    <h4>⭐{{ movie.rating }}</h4>
  </div>
  <button mat-button (click)="showContent()" class="read-more">Summary</button>

  @if (show) {
  <p class="summary">
    {{ movie.summary }}
  </p>
  }

  <div class="like-edit">
    <div class="like-disike">
      <app-counter />
    </div>
    <div class="edit-delete">
      <button
        mat-button
        routerLink="edit-movie/{{ id }}"
        class="editButton"
        (click)="editMovie()"
      >
        📝
      </button>
      <button mat-button class="deleteButton" (click)="deleteMovie()">
        🗑️
      </button>
    </div>
  </div>
</div>

<!-- mat-fab aria-label -->
