<div class="add-movie">
  <mat-form-field class="example-full-width">
    <mat-label>Movie URL</mat-label>
    <input
      matInput
      type="text"
      placeholder="Enter URL"
      [(ngModel)]="newMovie.poster"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Movie Name</mat-label>
    <input
      matInput
      type="text"
      placeholder="Ex: Hi Nanna"
      [(ngModel)]="newMovie.name"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Rating</mat-label>
    <input
      matInput
      type="text"
      placeholder="Ex: 9.8"
      [(ngModel)]="newMovie.rating"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Summary</mat-label>
    <input
      matInput
      type="text"
      placeholder="Enter Summary"
      [(ngModel)]="newMovie.summary"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Trailer URL</mat-label>
    <input
      matInput
      type="text"
      placeholder="Enter URL"
      [(ngModel)]="newMovie.trailer"
    />
  </mat-form-field>

  <button mat-raised-button (click)="addMovie(newMovie)">➕Add Movie</button>
</div>
